table, th,td {
    border-collapse: collapse;
    padding: 10px;
    border-spacing: 100px;
    word-spacing: 5px;
  }

.lista {
  display: inline-flex;
  background-color:aquamarine;
  text-align: center;
}
.card,table {
  background-color: aquamarine;
}