<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="contenido">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <p myHighlight>Este texto está resaltado.</p>
  <table>
    <tr *ngFor="let elemento of [1,2,3,4,5]">
      <td [ngStyle]="{'background-color':elemento%2==0?'red':'yellow'}">{{elemento}}</td>
    </tr>
  </table>
<!-- Esta es una directiva de atributo en html -->
<div *ngIf="condicion; else bloqueElse">El contenido de este div se muestra cuando 'condicion' se cumple.</div>
<ng-template #bloqueElse>Este contenido se muestra cuando 'condicion' es false.</ng-template>
<!-- Esta es una directiva de estructura -->

  <br>
  <ion-title>Personas</ion-title>
  <br>
  <table border="black">
    <tr align="center">
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Estado</th>
    </tr>  
    <tr *ngFor="let persona of person" [ngStyle]="{'color': persona.estado === 'activo' ? 'green' : 'red'}" align="center">
      <td>{{persona.nombre}} </td>
      <td>{{persona.apellido}} </td>
      <td>{{persona.edad}} años </td>
      <td>{{persona.estado}}</td>
    </tr>   
  </table>
  <br>
  <br>
  <ion-card class="card">
    <ion-title>Añadir a la lista Personas</ion-title>
    <ion-item>
      <ion-input label="Nombre" [(ngModel)]="personaAgregar.nombre" type="texto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido" [(ngModel)]="personaAgregar.apellido" type="texto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Edad" [(ngModel)]="personaAgregar.edad" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Estado" [(ngModel)]="personaAgregar.estado"></ion-input>
      <ion-select-option value="inactivo">inactivo</ion-select-option>
      <ion-select-option value="activo">activo</ion-select-option>
    </ion-item>
    <ion-button (click)="agregarPersonas()">Añadir persona</ion-button>
  </ion-card>
  
  
  
<!-- <ion-tabs> -->
  <!-- Tab bar -->
  <!-- <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar" aria-hidden="true"></ion-icon>
      <ion-label [routerLink]="['/perro']">Perro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
      <ion-label [routerLink]="['/armadura']">Armadura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map" aria-hidden="true"></ion-icon>
      <ion-label [routerLink]="['/pizarron']">Pizarrón</ion-label>
    </ion-tab-button>

    <ion-tab-button class="about">
      <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
      <ion-label [routerLink]="['/piedra']">Piedra</ion-label>
    </ion-tab-button> -->

  <!-- </ion-tab-bar>
</ion-tabs> -->

