<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <p myHighlight>Este texto está resaltado.</p>
  <table>
    <tr *ngFor="let elemento of [1,2,3,4,5]">
      <td [ngStyle]="{'background-color':elemento%2==0?'red':'yellow'}">{{elemento}}</td>
    </tr>
  </table>
<!-- Esta es una directiva de atributo en html -->
<div *ngIf="condicion; else bloqueElse">El contenido de este div se muestra cuando 'condicion' se cumple.</div>
<ng-template #bloqueElse>Este contenido se muestra cuando 'condicion' es false.</ng-template>
<!-- Esta es una directiva de estructura -->
</ion-content>

<ion-content>
  <table>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Edad</th>
      <th>Estado</th>
    </tr>  
    <tr *ngFor="let persona of personas" [ngStyle]="{'color': persona.estado === 'activo' ? 'green' : 'red'}">
      <td>{{persona.nombre}} </td>
      <td>{{persona.apellido}} </td>
      <td>{{persona.edad}} años </td>
      <td>{{persona.estado}}</td>
    </tr>   
  </table>
</ion-content>

<ion-tabs>
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar" aria-hidden="true"></ion-icon>
      <ion-label [routerLink]="['/perro']">Perro</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
      <ion-label [routerLink]="['/armadura']">Armadura</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="map" aria-hidden="true"></ion-icon>
      <ion-label [routerLink]="['/pizarron']">Pizarrón</ion-label>
    </ion-tab-button>

    <ion-tab-button class="about">
      <ion-icon name="information-circle" aria-hidden="true"></ion-icon>
      <ion-label [routerLink]="['/piedra']">Piedra</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

